.total-form{
    margin-top: 7px;
}

.chkbox-styling{
    margin-left: 10px;
}

.chktext{
    margin-left: 2px;
}

img{
    height:180px;
    width:200px;
    margin-top: 5px;
}

.waste{
    padding-left: 40px;
}

h5{
    color: brown;
}