

.top-padding{
    padding-top: 140px;
    
}

.heading-styling-hp{
    color:blue;
      
}

.paragraph-styling-hp{
    text-align:center;
}

.box-style{
    background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-right : 10px;
    margin-top:100px;
    padding-bottom:30px;
}